.divider-quiz-question {
    --padding-top: 15%;
    --padding-bottom: 15%;
}
.no-background {
    --background: clear;
}
div {
    height: 150px;
    width: 100%;
  }
.verticalcenter {
    position: absolute;
    bottom:10px;
    transform:
        translateY(0%);
}