<ion-header>
  <ion-toolbar>
      <ion-button (click)="logout()" size="small" color="dark" fill="dark" slot="end">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    <ion-title>Apnea Elearning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!instructorView">
  <ion-grid>
    <ion-row>
      <hr>
    </ion-row>
    <ion-row>
      <ion-label align="center">Welcome <ion-text color="secondary"><span>{{username}}</span></ion-text> to your Apnea
        Elearning App.</ion-label>
    </ion-row>
    <hr>
    <ion-row>
      <p align="center">To get started, select an available course from below</p>
    </ion-row>
    <ion-row *ngFor="let course of availableCourses; index as i">
      <ion-col>
        <a [routerLink]="['/course-landing']">
          <ion-button (click)="onSelectCourse(course)" expand="block"> {{course}} </ion-button>
        </a>
 </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="instructorView">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
            <ion-card-header class="ion-text-center">
              <ion-card-title>Upcoming Course</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <ion-card-subtitle>Course.date:</ion-card-subtitle>
              <ion-card-subtitle>course.type</ion-card-subtitle>

                <ion-list>
                  <ion-item>Student1</ion-item>
                  <ion-item>Student2</ion-item>
                  <ion-item>Student3</ion-item>
                  <ion-item>Student4</ion-item>
                </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<ion-footer *ngIf="userRole=='Instructor'">
  <ion-toolbar class="ion-align-items-center">
    <ion-item>
      <ion-label>Instructor View</ion-label>
      <ion-toggle [(ngModel)]="instructorView" color="primary"></ion-toggle>
    </ion-item>
    </ion-toolbar>
</ion-footer>
