ion-icon {
  color: --primary;
}
.verticalcenter {
  size:100%;
  position: relative;
  top:100%;
  transform:
      translateY(10%);
 --background: clear;
}
ion-item-divider {
  --padding-top: 0%;
  --padding-bottom: 15%;
}
