
<ion-header class="ion-margin-top"><ion-toolbar>
  <ion-card-title>{{courseType}} Course</ion-card-title>
  <ion-card-subtitle >{{courseDate | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
  <ion-button slot="end" fill="clear" (click)="closeModal()"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>


</ion-toolbar>
</ion-header>
<ion-content>
  <canvas class="ion-padding" #chartCanvas height="200"></canvas>

  <ion-grid>
<ion-row>
  <ion-col>
      <ion-item class="ion-no-margin" *ngFor="let student of studentList, index as i">
        <ion-label class="ion-no-padding">{{i+1}}. {{student}}</ion-label>
        <ion-button (click)="deleteStudentAlert(student,i)" fill="clear" size="small" slot="end"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
      </ion-item>
      <ion-item>
        <ion-button slot="end" fill="clear" class="ion-no-margin">Add Student<ion-icon slot="end" name="add-outline"></ion-icon></ion-button>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item>
      <ion-button slot="start" fill="clear" (click)="cancelCourseAlert()">Cancel Course<ion-icon name="trash-outline"></ion-icon></ion-button>
</ion-item>
    </ion-col>
    </ion-row>
        </ion-grid>
      </ion-content>
