<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container>Prifle PIct</ng-container>
      <ion-item class="ion-no-margin">
        <ion-label position="fixed">First Name:</ion-label>
        <ion-input [(ngModel)]="firstname" placeholder="{{olduser.firstname}}" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Last Name:</ion-label>
        <ion-input [(ngModel)]="lastname" placeholder="{{olduser.lastname}}" type="text"></ion-input>
      </ion-item>
      <ion-item class="ion-margin-top">
        <ion-label position="fixed">Phone:</ion-label>
        <ion-input [(ngModel)]="phonenum" placeholder="{{olduser.phonenum}}" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-margin-top" position="floating">Current Password</ion-label>
        <ion-input [(ngModel)]="oldpassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input [(ngModel)]="newpassword" type="password"></ion-input>
      </ion-item>
      <ion-button (click)="saveProfile()">Save</ion-button>

</ion-content>
