<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons>
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title  slot="secondary">{{thisCourse.title}} Course</ion-title>
    <ion-button size="small" color="dark" fill="clear" slot="end"><ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-vertical" >
      <ion-col class="ion-text-center">
        <ion-label>
          Your course date is {{ "user.courseDate" }}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="onClickModule()" expand="block">Continue Module</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block">Take Quiz</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-vertical">
      <ion-col class="ion-text-center"  >
        <ion-label class="ion-align-self-center">
          Overview
        </ion-label>
      </ion-col>
    </ion-row>
      <ion-row *ngFor="let descriptionBlock of thisCourse.description.split('\n')">
        <ion-col>
          <ion-label>
            {{ descriptionBlock }}
          </ion-label>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
