<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref=""></ion-back-button>
    <ion-title>{{thisCourse.title}} Course</ion-title>
    <ion-button
      (click)="showUserOptions()"
      size="small"
      color="dark"
      fill="clear"
      slot="end"
      ><ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon
    ></ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-vertical">
      <ion-col class="ion-text-center">
        <ion-label> Your course date is {{ "user.courseDate" }} </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-vertical">
      <ion-col class="ion-text-center">
        <ion-label class="ion-align-self-center"> Overview </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let descriptionBlock of thisCourse.description.split('\n')">
      <ion-col>
        <ion-label> {{ descriptionBlock }} </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-accordion-group>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label>Chapter Selection</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item  *ngFor="let chapter of thisAvailableChapters, index as i" (click)="launchModule(chapter)">
          <ion-label>Chapter {{chapter+1}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <ion-button expand="block" (click)="launchModule(thisCourse.unlockedChapters.length-1)">{{thisCourse.unlockedChapters.length > 1 ? "Continue Course" : "Start Course"}}</ion-button>

      <ion-col size="6" *ngIf="thisCourse.unlockedQuizzes.length>0">
        <ion-button expand="block" (click)="launchQuiz()">Quiz</ion-button>
      </ion-col>
</ion-footer>
