<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title  slot="secondary">Course Overview</ion-title>
    <ion-button size="small" color="dark" fill="clear" slot="end"><ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon></ion-button>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Course Progress</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>Module Completion</h1>
    </ion-card-content>
  </ion-card>
</ion-content>
